
ion-content {
  --background: transparent url('/assets/icon/peso.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.bienve{
  color: azure;
}
.title h2{
  color: white;
}
.title p{
  color: white;
}

.logo{
  width: 50%;
  margin: 20% 0 20% 0;
  
}