<ion-content class="ion-padding ion-text-center"  [fullscreen]="true">

    <img class="logo" src='/assets/icon/logo.png' />

    <div class="title">
      <h2>Bienvenido</h2>
      <p>Encuentra tu mejor estacionamiento</p>
    </div>


    <div class="ion-margin-top">
      <ion-button expand="block" class="ion-margin-top" fill="outline" color="primary" (click)="pageLogin()">Iniciar Sesion</ion-button>
      <ion-button expand="block" class="ion-margin-top" fill="outline" color="warning" (click)="pageRegistrarr()" >Crear Cuenta</ion-button>

    </div>


 
</ion-content>