ion-content {
    padding: 0;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/icon/background-image.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  @keyframes bounce-in-top {
    0%, 20%, 40%, 60%, 80%, 100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    25% {
      transform: translateY(-65px);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    75% {
      transform: translateY(-28px);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .bounce-in-top {
    animation: bounce-in-top 1.1s both;
  }